{% extends "base.html" %}
{% block nav_bar %}
    <div class="container">
        <p style="text-align: left;">You have searched for "{{search|lower}}"</p>
    </div>
    
    
    
    <div class="container row">
    {% for post in final_posting %}
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="{{ post.1 }}"><img src="{{ post.3 }}" alt=""></a>
                </div>
                <div class="card-content">
                    <p>{{ post.0 }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.1 }}">View Listing: Price {{ post.2 }}
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

{% endblock %}